@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.code-div {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 30;
    width: 1920px;
    height: 1080px;
    top: 730px;
    background-color: rgba(37, 37, 37, 0.4);
    transition: all 1.0s;
}
.onoff-btn-div {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 40;
    width: 200px;
    height: 10px;
    top: 20px;
    left: 50%;
    margin-left: -100px;
    background-color: #fff;
    border-radius: 0.8rem;
    transition: all 1.0s;
}
.onoff-btn {
    position: relative;
    width: 200px;
    height: 20px;
    top: -30px;
    cursor: pointer;
}
.onoff-btn-div:hover {
    width: 300px;
    margin-left: -150px;
}
.onoff-btn-div:hover>.onoff-btn-text-div {
    color: rgba(255, 112, 83, 1.0);
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.code-div-div {
    position: absolute;
    width: 1600px;
    height: 800px;
    left: 50%;
    margin-left: -800px;
    overflow-x: scroll;
}
.trello-div-div {
    position: absolute;
    display: flex;
    z-index: 50;
    margin-top: 50px;
    left: 200px;
}
.trello-btn-div {
    position: relative;
    width: 100px;
    height: 20px;
    background-color: #fff;
    border-radius: 0.8rem;
    margin-right: 20px;
    transition: all 1.0s;
}
.trello-btn-1 {
    background-color: rgb(255, 112, 83);
}
.trello-btn-2 {
    background-color: rgb(203, 255, 59);
}
.trello-btn-3 {
    background-color: rgb(56, 119, 255);
}
.trello-btn-div>input {
    line-height: 20px;
}
.trello-btn {
    z-index: 60;
    cursor: pointer;
    color: black;
    font-size: 15px;
}
.trello-btn-div:hover {
    width: 130px;
}
.trello-1 {
    display: flex;
}
.trello-2 {
    display: none;
}
.trello-3 {
    display: none;
}

.code-12-div {
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    width: 520px;
    height: 600px;
    top: 80px;
    margin-right: 80px;
    border-radius: 0.8rem;
    border: 5px solid rgb(255, 112, 83);
    background-color: rgba(0, 0, 0, 0.7);
}

.code-13-div {
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    width: 520px;
    height: 600px;
    top: 80px;
    margin-right: 80px;
    border-radius: 0.8rem;
    border: 5px solid rgb(203, 255, 59);
    background-color: rgba(0, 0, 0, 0.7);
}

.code-14-div {
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    width: 520px;
    height: 600px;
    top: 80px;
    margin-right: 80px;
    border-radius: 0.8rem;
    border: 5px solid rgb(56, 119, 255);
    background-color: rgba(0, 0, 0, 0.7);
}

.code-1-title {
    color: rgb(255, 112, 83);
    font-size: 40px;
    font-family: 'EliceDigitalBaeum_Bold';
}
.code-2-title {
    color: rgb(203, 255, 59);
    font-size: 40px;
    font-family: 'EliceDigitalBaeum_Bold';
}
.code-3-title {
    color: rgb(56, 119, 255);
    font-size: 40px;
    font-family: 'EliceDigitalBaeum_Bold';
}

.hr-1 {
    background-color: rgb(255, 112, 83);
    width: 450px;
    height: 1px;
    border: 0;
}
.hr-2 {
    width: 450px;
    background-color: rgb(203, 255, 59);
    height: 1px;
    border: 0;
}
.hr-3 {
    width: 450px;
    background-color: rgb(56, 119, 255);
    height: 1px;
    border: 0;
}

.code-div-1-div {
    position: absolute;
    width: 450px;
    height: 500px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: auto;
    left: 50%;
    margin-left: -225px;
    color: #fff;
}
.code-div-2-div {
    position: absolute;
    width: 450px;
    height: 500px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: auto;
    left: 50%;
    margin-left: -225px;
    color: #fff;
}
.code-div-3-div {
    position: absolute;
    width: 450px;
    height: 500px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: auto;
    left: 50%;
    margin-left: -225px;
    color: #fff;
}
pre {
    font-family: 'EliceDigitalBaeum_Bold';
}

.onoff-btn-text-div {
    position: relative;
    top: -25px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    font-family: 'EliceDigitalBaeum_Bold';
    color: rgba(255, 112, 83, 0);
    transition: all 1.0s;
}



.span-prev {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    left: 30px;
}
.span-next {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 300px;
    right: 100px;
}
.arrow-prev, .arrow-next {
    position: relative;
}
.arrow-prev::after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    width: 80px;
    height: 80px;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    transform: rotate(225deg);
}
.arrow-next::after {
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    width: 80px;
    height: 80px;
    border-top: 5px solid rgb(255, 255, 255);
    border-left: 5px solid rgb(255, 255, 255);
    transform: rotate(135deg);
}
button {
    all: unset;
    cursor: pointer;
}