/*폰트*/
@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font: inherit
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#aggro {
    font-family: 'SBAggroB';
}

#simplehae {
    font-family: 'Cafe24Simplehae';
}

/*헤더 메뉴*/

ul.mmenu {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #323232;
}

.index-css {
    font-family: 'SBAggroB';
    font-size: 20px;
    margin-left: 100px;
}

.useri span {
    font-family: 'Cafe24Simplehae';
}

.container {
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    margin: 0 auto;
    background: #eeeeee;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    z-index: 40;
    justify-content: space-between;

    box-shadow: 0 5px 20px rgb(0, 0, 0);
}

header>img {
    margin-left: 100px;
}

header>nav {
    width: auto;
    height: 100%;
    margin-right: 100px;
}

ul.mmenu {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.list-title {
    font-size: 30px;
    margin-right: 130px;
}

ul.mmenu>li {
    font-size: 20px;
    height: 100%;
    display: inline-block;
    align-items: center;
    position: relative;
}

#userinfo {
    width: 30px;
}