/*섹션*/

.mainads {
    top: auto;
}

/*.phonefront{
    margin: 0 auto;
    position: relative;
    display: block;
    z-index: 4;
    justify-content: space-between;
    padding: 0 0 0 0;

    -webkit-transform: translate(50%,50%); -ms-transform: translate(50%,50%); transform: translate(50%,50%);
}
.phonefront img {
    object-fit: contain;

    max-width: 100%; height: auto;
    -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
}*/
.phoneback {
    position: relative;
}

.section {
    text-align: center;
    background-size: cover;
}

#section0 {
    background-image: url(../imgs/bg1.jpg);
    padding: 0 0 0 0;
}

#section1 {
    background-image: url(../imgs/bg2.jpg);
    padding: 0 0 0 0;
}

#section2 {
    background-image: url(../imgs/bg3.jpg);
    padding: 0 0 0 0;
}

#section3 {
    background-image: url(../imgs/bg4.jpg);
    padding: 0 0 0 0;
}

#section4 {
    background-image: url(../imgs/bg5.jpg);
    padding: 0 0 0 0;
}

#section5 {
    background-image: url(../imgs/bg6.jpg);
    padding: 0 0 0 0;
}